<div class="card">
    <a class="text-dark text-decoration-none" href="/dashboard/{{id}}">
        <div class="card-header text-start">
            <h3>{{post.title}}</h3>
            <h5 class="text-end">{{format_date post.publish_date}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
        </div>
    </a>
</div>