<!-- Dashboard page displays user's own posts-->
<div class="card">
    <h5 class="card-header text-canter">{{username}}</h5>
</div>
{{#each userPost as |Post|}}
{{> user-posts}}
{{/each}}
<div class="text-center">
    <a href="/newpost">
        <button type="submit" class="btn btn-danger align-center" id="new-post">New Post</button>
    </a>
</div>