<div class="card">
    <h5 class="card-header text-canter">{{username}}</h5>
</div>
{{#each user as |User|}}
{{> user-posts}}
{{/each}}
<div>
    <button type="submit" class="btn btn-danger align-center" id="new-post">New Post</button>
</div>