<div class="card m-3 border border-danger">
    <label for="exampleFormControlTextarea1" class="form-label">Title</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger align-center" id="new-post"> Create Post</button>
</div>